<!-- index.nunjucks -->
{% extends "layouts/layout.njk" %}

{% set page_title = "Contact Us page" %}
{% set page_description = "This is the contact page" %}
{% set page_keywords = "keywords, keywords, keywords" %}

{% set page_id = "contact-us" %}

{% block content %}
    




<div class="fluid-container" style="background-image: url('img/backgrounds/watermark-map.png'");><!-- full page background for content area -->
    <div class="container">
        
        <main style="background:#fff;">
            This is actual content
        </main>
        
    </div>
</div>

    <!--
    <div class="image-banner">
        <div class="container">
            <div class="image-banner-container">
                <div class="row">
                    <div class="col-sm-6">  
                         <div class="image-banner-copy">
                        <h1>Contact Us</h1>
                        <h2>Questions?</h2>
                        <h3>Email the club officers at: <a href="mailto:officers@deloreanmidatlantic.com">officers@deloreanmidatlantic.com</a></h3>
                        <p>While we may receive requests for DeLorean rentals, we are not a rental agency.</p>
                        <p><small>* While we may receive requests for DeLorean rentals, we are not a rental agency. As a courtesy, we will forward requests to our member base but can make no guarantee someone will be able to attend your event. All aspects of your agreement are between the 2 parties.</small></p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="image-banner-photo">
                            <div class="image-banner-photo-spacer" title="" style="background-image:url('uploads/spring-social.png');"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end .image-banner -->
    
{% endblock %}