<!-- index.nunjucks -->
{% extends "layouts/layout.njk" %}

{% set page_title = "Scrapbook page" %}
{% set page_description = "This is the scrapbook page" %}
{% set page_keywords = "keywords, keywords, keywords" %}

{% set page_id = "scrapbook" %}

{% block content %}

    <div class="main-content">
        <div class="container">
            
            <h1 class="page-title">Scrapbook</h1>
                      
            <div class="scrapbook-gallery-list">
                <div class="row">
                    <div class="col-xs-4 col-sm-3 col-md-2">
                        <div class="scrapbook-gallery-tile">
                            <img src="uploads/fall-foliage-tour.png" />
                            <p class="scrapbook-tile-pretitle">2011</p>
                            <h3 class="scrapbook-tile-title"><a href="#">Summer Fun Run</a></h3>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-3 col-md-2">
                        <div class="scrapbook-gallery-tile">
                            <img src="uploads/fall-foliage-tour.png" />
                            <p class="scrapbook-tile-pretitle">2011</p>
                            <h3 class="scrapbook-tile-title"><a href="#">Spring Social</a></h3>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-3 col-md-2">
                        <div class="scrapbook-gallery-tile">
                            <img src="uploads/fall-foliage-tour.png" />
                            <p class="scrapbook-tile-pretitle">2010</p>
                            <h3 class="scrapbook-tile-title"><a href="#">Holiday Party</a></h3>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-3 col-md-2">
                        <div class="scrapbook-gallery-tile">
                            <img src="uploads/fall-foliage-tour.png" />
                            <p class="scrapbook-tile-pretitle">2010</p>
                            <h3 class="scrapbook-tile-title"><a href="#">LBI Holiday Parade</a></h3>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-3 col-md-2">
                        <div class="scrapbook-gallery-tile">
                            <img src="uploads/fall-foliage-tour.png" />
                            <p class="scrapbook-tile-pretitle">2010</p>
                            <h3 class="scrapbook-tile-title"><a href="#">Fall Foliage Tour</a></h3>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-3 col-md-2">
                        <div class="scrapbook-gallery-tile">
                            <img src="uploads/fall-foliage-tour.png" />
                            <p class="scrapbook-tile-pretitle">2010</p>
                            <h3 class="scrapbook-tile-title"><a href="#">Summer Fun Run</a></h3>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-3 col-md-2">
                        <div class="scrapbook-gallery-tile">
                            <img src="uploads/fall-foliage-tour.png" />
                            <p class="scrapbook-tile-pretitle">2010</p>
                            <h3 class="scrapbook-tile-title"><a href="#">Spring Social</a></h3>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-3 col-md-2">
                        <div class="scrapbook-gallery-tile">
                            <img src="uploads/fall-foliage-tour.png" />
                            <p class="scrapbook-tile-pretitle">2009</p>
                            <h3 class="scrapbook-tile-title"><a href="#">Holiday Party</a></h3>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-3 col-md-2">
                        <div class="scrapbook-gallery-tile">
                            <img src="uploads/fall-foliage-tour.png" />
                            <p class="scrapbook-tile-pretitle">2009</p>
                            <h3 class="scrapbook-tile-title"><a href="#">Fall Foliage Tour</a></h3>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-3 col-md-2">
                        <div class="scrapbook-gallery-tile">
                            <img src="uploads/fall-foliage-tour.png" />
                            <p class="scrapbook-tile-pretitle">2009</p>
                            <h3 class="scrapbook-tile-title"><a href="#">Spring Social</a></h3>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-3 col-md-2">
                        <div class="scrapbook-gallery-tile">
                            <img src="uploads/fall-foliage-tour.png" />
                            <p class="scrapbook-tile-pretitle">2008</p>
                            <h3 class="scrapbook-tile-title"><a href="#">LBI Holiday Parade</a></h3>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-3 col-md-2">
                        <div class="scrapbook-gallery-tile">
                            <img src="uploads/fall-foliage-tour.png" />
                            <p class="scrapbook-tile-pretitle">2008</p>
                            <h3 class="scrapbook-tile-title"><a href="#">Fall Foliage Tour</a></h3>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-3 col-md-2">
                        <div class="scrapbook-gallery-tile">
                            <img src="uploads/fall-foliage-tour.png" />
                            <p class="scrapbook-tile-pretitle">2008</p>
                            <h3 class="scrapbook-tile-title"><a href="#">Summer Fun Run</a></h3>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-3 col-md-2">
                        <div class="scrapbook-gallery-tile">
                            <img src="uploads/fall-foliage-tour.png" />
                            <p class="scrapbook-tile-pretitle">2008</p>
                            <h3 class="scrapbook-tile-title"><a href="#">Spring Social</a></h3>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-3 col-md-2">
                        <div class="scrapbook-gallery-tile">
                            <img src="uploads/fall-foliage-tour.png" />
                            <p class="scrapbook-tile-pretitle">2007</p>
                            <h3 class="scrapbook-tile-title"><a href="#">Holiday Party</a></h3>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-3 col-md-2">
                        <div class="scrapbook-gallery-tile">
                            <img src="uploads/fall-foliage-tour.png" />
                            <p class="scrapbook-tile-pretitle">2007</p>
                            <h3 class="scrapbook-tile-title"><a href="#">Fall Foliage Tour</a></h3>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-3 col-md-2">
                        <div class="scrapbook-gallery-tile">
                            <img src="uploads/fall-foliage-tour.png" />
                            <p class="scrapbook-tile-pretitle">2007</p>
                            <h3 class="scrapbook-tile-title"><a href="#">Summer Fun Run</a></h3>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-3 col-md-2">
                        <div class="scrapbook-gallery-tile">
                            <img src="uploads/fall-foliage-tour.png" />
                            <p class="scrapbook-tile-pretitle">2007</p>
                            <h3 class="scrapbook-tile-title"><a href="#">Spring Social</a></h3>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-3 col-md-2">
                        <div class="scrapbook-gallery-tile">
                            <img src="uploads/fall-foliage-tour.png" />
                            <p class="scrapbook-tile-pretitle">2006</p>
                            <h3 class="scrapbook-tile-title"><a href="#">Holiday Party</a></h3>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-3 col-md-2">
                        <div class="scrapbook-gallery-tile">
                            <img src="uploads/fall-foliage-tour.png" />
                            <p class="scrapbook-tile-pretitle">2006</p>
                            <h3 class="scrapbook-tile-title"><a href="#">Fall Foliage Tour</a></h3>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-3 col-md-2">
                        <div class="scrapbook-gallery-tile">
                            <img src="uploads/fall-foliage-tour.png" />
                            <p class="scrapbook-tile-pretitle">2006</p>
                            <h3 class="scrapbook-tile-title"><a href="#">Summer Fun Run</a></h3>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-3 col-md-2">
                        <div class="scrapbook-gallery-tile">
                            <img src="uploads/fall-foliage-tour.png" />
                            <p class="scrapbook-tile-pretitle">2006</p>
                            <h3 class="scrapbook-tile-title"><a href="#">Spring Social</a></h3>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-3 col-md-2">
                        <div class="scrapbook-gallery-tile">
                            <img src="uploads/fall-foliage-tour.png" />
                            <p class="scrapbook-tile-pretitle">2005</p>
                            <h3 class="scrapbook-tile-title"><a href="#">Holiday Party</a></h3>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-3 col-md-2">
                        <div class="scrapbook-gallery-tile">
                            <img src="uploads/fall-foliage-tour.png" />
                            <p class="scrapbook-tile-pretitle">2005</p>
                            <h3 class="scrapbook-tile-title"><a href="#">Fall Foliage Tour</a></h3>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-3 col-md-2">
                        <div class="scrapbook-gallery-tile">
                            <img src="uploads/fall-foliage-tour.png" />
                            <p class="scrapbook-tile-pretitle">2005</p>
                            <h3 class="scrapbook-tile-title"><a href="#">Summer Fun Run</a></h3>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-3 col-md-2">
                        <div class="scrapbook-gallery-tile">
                            <img src="uploads/fall-foliage-tour.png" />
                            <p class="scrapbook-tile-pretitle">2005</p>
                            <h3 class="scrapbook-tile-title"><a href="#">Spring Social</a></h3>
                        </div>
                    </div>
                    
                    <div class="col-xs-4 col-sm-3 col-md-2">
                        <div class="scrapbook-gallery-tile">
                            <img src="uploads/fall-foliage-tour.png" />
                            <p class="scrapbook-tile-pretitle">2004</p>
                            <h3 class="scrapbook-tile-title"><a href="#">Holiday Party</a></h3>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-3 col-md-2">
                        <div class="scrapbook-gallery-tile">
                            <img src="uploads/fall-foliage-tour.png" />
                            <p class="scrapbook-tile-pretitle">2004</p>
                            <h3 class="scrapbook-tile-title"><a href="#">Fall Foliage Tour</a></h3>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-3 col-md-2">
                        <div class="scrapbook-gallery-tile">
                            <img src="uploads/fall-foliage-tour.png" />
                            <p class="scrapbook-tile-pretitle">2004</p>
                            <h3 class="scrapbook-tile-title"><a href="#">Spring Social</a></h3>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-3 col-md-2">
                        <div class="scrapbook-gallery-tile">
                            <img src="uploads/fall-foliage-tour.png" />
                            <p class="scrapbook-tile-pretitle">2003</p>
                            <h3 class="scrapbook-tile-title"><a href="#">Fall Foliage Tour</a></h3>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-3 col-md-2">
                        <div class="scrapbook-gallery-tile">
                            <img src="uploads/fall-foliage-tour.png" />
                            <p class="scrapbook-tile-pretitle">2003</p>
                            <h3 class="scrapbook-tile-title"><a href="#">Summer Fun Run</a></h3>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-3 col-md-2">
                        <div class="scrapbook-gallery-tile">
                            <img src="uploads/fall-foliage-tour.png" />
                            <p class="scrapbook-tile-pretitle">2003</p>
                            <h3 class="scrapbook-tile-title"><a href="#">Spring Social</a></h3>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-3 col-md-2">
                        <div class="scrapbook-gallery-tile">
                            <img src="uploads/fall-foliage-tour.png" />
                            <p class="scrapbook-tile-pretitle">2002</p>
                            <h3 class="scrapbook-tile-title"><a href="#">Fall Foliage Tour</a></h3>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-3 col-md-2">
                        <div class="scrapbook-gallery-tile">
                            <img src="uploads/fall-foliage-tour.png" />
                            <p class="scrapbook-tile-pretitle">2002</p>
                            <h3 class="scrapbook-tile-title"><a href="#">Spring Social</a></h3>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-3 col-md-2">
                        <div class="scrapbook-gallery-tile">
                            <img src="uploads/fall-foliage-tour.png" />
                            <p class="scrapbook-tile-pretitle">2001</p>
                            <h3 class="scrapbook-tile-title"><a href="#">Spring Social</a></h3>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-3 col-md-2">
                        <div class="scrapbook-gallery-tile">
                            <img src="uploads/fall-foliage-tour.png" />
                            <p class="scrapbook-tile-pretitle">2001</p>
                            <h3 class="scrapbook-tile-title"><a href="#">Englishtown Car Show</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        
                                
        </div>
    </div>
    <!-- end .main-content -->
    
   <div class="events-banner">
        <div class="events-banner-photo">
            <div class="events-banner-photo-spacer" title="" style="background-image:url('uploads/tech-inspection.png');"></div>
        </div>
        <div class="events-banner-copy">
            <h2 class="events-banner-title">Upcoming Events</h2>
            <p class="events-banner-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam non ipsum dolor. Nam pharetra risus sem, ut posuere mi blandit vel. Cras gravida justo molestie consectetur varius. Proin lobortis velit ut neque molestie malesuada.</p>
            <a href="#" class="button button-invert" role="button"><script> var d = new Date(); var intYear = d.getFullYear(); document.write(intYear); </script> Events</a>
        </div>
    </div>
    <!-- end .events-banner -->
    
{% endblock %}