<!-- footer.njk -->

 <footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <div class="footer__logo">
                    <a href="http://www.deloreanmidatlantic.com"><img src="img/logos/DMA-logo-footer.png" alt="DMA" height="40" width="auto" /></a>
                </div>
                <p class="footer__disclaimer">&copy; Copyright 1992 - <script> var d = new Date(); var intYear = d.getFullYear(); document.write(intYear); </script> <br />DeLorean Mid-Atlantic Club <br />Non-profit of New Jersey. All rights reserved.</p>
            </div>
            <div class="col-xs-12 col-sm-3">
                <ul>
                    <li><a href="mailto:officers@deloreanmidatlantic.com">Contact the Club Officers</a></li>
                    <li><a href="https://groups.google.com/forum/#!forum/deloreanmidatlantic" target="_blank">Members Forum</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3">
                <ul class="footer__social-links">
                    <li><a href="http://www.facebook.com/deloreanmidatlantic" target="_blank"><span class="footer__social-link__icon"><span class="icon icon-circle-facebook"></span></span><span class="footer__social-link__text">Like us on Facebook</span></a></li>
                    <li><a href="https://www.youtube.com/user/DeLoreanMidAtlantic/videos" target="_blank"><span class="footer__social-link__icon"><span class="icon icon-circle-youtube"></span></span><span class="footer__social-link__text">Watch our YouTube Videos</span></a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3">
                <ul>
                    <li>Photography by <a href="http://www.grenexmedia.com" target="_blank">Grenex Media</a></li>
                    <li>Web Design by <a href="http://www.thinkstainless.com" target="_blank">ThinkStainless</a></li>
                </ul>
            </div>
        </div>
    </div>    
</footer>