<!-- error.njk -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document Title</title>
    <link rel="stylesheet" href="css/main.min.css">
</head>
<body>

    <!-- You write code for this content block in another file -->
    {% block content %} {% endblock %}

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="js/main.min.js"></script>
    
</body>
</html>